@model Home.Models.InternetsModel

@{
    ViewData["Title"] = "Create Internet";
}

<h1>Create Internet</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inpcodenum" class="control-label">Internet Post Code</label>
                <input asp-for="inpcodenum" class="form-control" />
                <span asp-validation-for="inpcodenum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inname" class="control-label">Internet Name</label>
                <input asp-for="inname" class="form-control" />
                <span asp-validation-for="inname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="incategory" class="control-label">Internet Category</label>
                <input asp-for="incategory" class="form-control" />
                <span asp-validation-for="incategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inprice" class="control-label">Internet Price</label>
                <input asp-for="inprice" class="form-control" />
                <span asp-validation-for="inprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="incomment" class="control-label">Internet Comment</label>
                <input asp-for="incomment" class="form-control" />
                <span asp-validation-for="incomment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="indate" class="control-label">Internet Date</label>
                <input type="date" asp-for="indate" class="form-control" />
                <span asp-validation-for="indate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
