@model Home.Models.TransportsModel

@{
    ViewData["Title"] = "Create Transport";
}

<h1>Create Transport</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="trname" class="control-label">Transport Name</label>
                <input asp-for="trname" class="form-control" />
                <span asp-validation-for="trname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trcategory" class="control-label">Transport Category</label>
                <input asp-for="trcategory" class="form-control" />
                <span asp-validation-for="trcategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trprice" class="control-label">Transport Price</label>
                <input asp-for="trprice" class="form-control" />
                <span asp-validation-for="trprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trcomment" class="control-label">Transport Comment</label>
                <input asp-for="trcomment" class="form-control" />
                <span asp-validation-for="trcomment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trdate" class="control-label">Transport Date</label>
                <input type="date" asp-for="trdate" class="form-control" />
                <span asp-validation-for="trdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
